<form class="centered biggerPadding">
  <!--<div style="height: 17em; background: #fafcff" class="col-md-12">-->
  <div style="height: 17em" class="col-md-12">
    <span style="background: bisque;" class="pull-left message-border">Hi!</span> <br><br>
    <span style="background: cornflowerblue" class="pull-right message-border">How you doing</span>
  </div>
  <br>
  <div class="ui-inputgroup">
    <input type="text" class="full-width"/>
    <p-button class="ui-button-success" label="Send" (click)="sendMessage()"></p-button>
  </div>
</form>
