<form class="centered biggerPadding">
  <p-growl [value]="growlMessages"></p-growl>
  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <label for="username" class="pull-left">Username</label>
        <input type="text" id="username" pInputText class="full-width" name="username" [(ngModel)]="username"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <label for="password" class="pull-left">Password</label>
        <input type="password" id="password" pInputText class="full-width" name="password" [(ngModel)]="password"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <p-button label="Login"
                  styleClass="ui-button-success"
                  (click)="login()">
        </p-button>
      </div>
    </div>
    <div class="row pull-right">
      <div class="col-md-12">
        <span>Or <a [routerLink]="['/register']">Sign Up</a></span>
      </div>
    </div>
  </fieldset>
</form>

