/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/
/*@import "~font-awesome/css/font-awesome.css";*/

.centered {
  text-align: center;
}

.full-width {
  width: 100% !important;
}

.padded-page {
  padding-left: 5%;
  padding-right: 5%;
}

.biggerPadding {
  padding-left: 30%;
  padding-right: 30%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.message-border {
  border-radius: 3px;
}

